<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About me</title>
    <link rel="stylesheet" type="text/css" href="../static/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
 <h1 class="w3-yellow w3-round-jumbo w3-margin" align="center">Hello everybody!</h1>


<div class="w3-row w3-margin">
 <div class="w3-half w3-container  " >
    <h2 class="w3-container w3-red w3-margin w3-round-jumbo w3-hover-yellow" align="center" >Basic info</h2>
    <ul>
        <li><h3>Name: Luong Thai Ha</h3></li>
        <li><h3>DOB: 06/08/1993</h3></li>
        <li><h3>Favourite quote:</h3></li>
    </ul>

<div class="w3-half w3-container ">
    <h2 class="w3-container w3-red w3-margin w3-round-jumbo w3-hover-yellow " align="center">How do I look like?</h2>
    <img src="../static/IMG_4741.JPG" alt="Jane" style ="width : 60%">
</div>


</div>

</div>


</body>
</html>